/* body */

body{
    margin: 0px;    
}

/* font style */

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins';
    font-weight: 500;
}

p{
    font-family: 'Poppins';
    font-weight: 300;
}

a{
    font-family: 'Poppins';
    font-weight: 300;
}

/* Navbar */

.logo{
    background-color: #222831;
    padding: 2% 13%;
}

.logo_text{
    font-family: 'Poppins', sans-serif;
    color: #EEEEEE;
}

.logo_text:hover{
    color: #FFD369;
}

#navbar-section .navbar a.nav-link{
    color: #EEEEEE;
    font-size: 1.1rem;
    position: relative;
    display: inline-block;
    margin-right: 30px;
}





/* Title Section */

#title{
    text-align: center;
    padding: 5% 13%;
    background-color: #222831;
    color: #FFD369;
}

#title #name{
    font-size: 3.2rem;
}

#title #work{
    font-size: 2.3rem;
}


#title img{
    width: 100%;
    position: relative;
    z-index: 1;
}

#title .mb-auto{
    text-align: left;
}

#title .col-12{
    margin-top: 10%;
}

#title p{
    font-size: 1.2rem;
    color: #EEEEEE;
}
#title i{
    color: #FFD369;
}

/* About me Section */

#about-me{
    padding: 3% 0;
    background-color: #393E46;
    
}

#about-me .container-fluid{
    padding: 7% 8%;
}

#about-me .card{
    border: none;
    background-color: transparent;
}

#about-me .card h1, #about-me p{
    color: #FFD369;
}

#about-me .card p{
    color: #EEEEEE;
    font-size: 1.1rem;

}

#about-me h1{
    font-size: 3.5rem;
}

#about-me p{
    font-size: 1.3rem;
}



#about-me img{
    width: 70%;
    position: relative;
    top: 10%;
}

#about-me hr{
    color: #EEEEEE;
}

#about-me .chaos-img{
    position: absolute;
    max-width: 50%;
    left: 43%;
    z-index: -1;
}

/* Instruction */

#instruction{
    background-color: #EEEEEE;
    padding: 3% 0;
}

#instruction .container-fluid{
    padding: 2% 8%;
}

#instruction hr{
    color: #222831;
}

#instruction .row p{
    font-size: 1.3rem;
    color: #222831;
}

#instruction img{
    width: 20%;
    border-radius: 80%;
    margin: 0 auto 3%;
}

#instruction .card{
    background-color: transparent;
    border: none;
    margin-bottom: 5%;
}


#instruction .carousel-indicators button{
    background-color: #222831;
}

/* Skill Section */

#skills{
    background-color: #222831;
    padding-top: 3%;
}

#skills .container-fluid{
    padding-bottom: 0;
}

#skills .row hr{
    color: #EEEEEE;
}
#skills .skill-line p{
    color: #FFD369;
    font-size: 1.3rem;
}

#skills p{
    color: #EEEEEE;
    font-size: 1.3rem;
}


#skills i{
    color: #222831;
    font-size: 1rem;
}

#skills .container-fluid{
    padding: 7% 15%;
}

#skills .progress{
    height: 30px;
    width: 50%;
    margin: auto;
}

#skills .progress-bar{
    padding-left: 2%;
    text-align: left;
    background-color: #FFD369;
}

/* contact me section */

#contact-me{
    background-color: #222831;
    padding: 3% 0 1% 0;
}

#contact-me .row hr{
    color: #EEEEEE;
}

#contact-me .row p{
    color: #FFD369;
    font-size: 1.3rem;
}

#contact-me .container-fluid{
    padding: 5% 15% 0 15%;
}


#contact-me h1{
    color: #eee;
    font-size: 4rem;
}

#contact-me .contact-me-container{
    margin: auto;
    padding-top: 5%;
}

#contact-me form{
    color: #EEEEEE;
    background-color: #252c35;
    border-radius: 30px;
    padding: 5% 0;
}

#contact-me #yourname, #contact-me #youremail{
    width: 50%;
}

#contact-me form textarea{
    width: 50%; height: 50%;
}

#contact-me form input, #contact-me form textarea {
    margin: auto;
}

#contact-me img{
    width: 70%;
    margin-top: 5%;
}

#contact-me a{
    margin: 10px;
    color: #EEEEEE;
    font-size: 1.3rem;
}

#contact-me a:hover{
    color: #FFD369;
}

/* back to top button */

#contact-me .back-to-top button {
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #EEEEEE;
    background: none;
    position: relative;
    padding-bottom: 2em;
}
  
#contact-me .back-to-top button > div,button > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
  
#contact-me .back-to-top button:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}
  
#contact-me .back-to-top button:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
#contact-me .back-to-top button .clone > *,button .text > * {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
}
  
#contact-me .back-to-top button .clone > * {
    transform: translateY(60px);
}
  
#contact-me .back-to-top button:hover .clone > * {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
  
#contact-me .back-to-top button:hover .text > * {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
  
#contact-me .back-to-top button:hover .clone > :nth-child(1) {
    transition-delay: 0.15s;
}
  
#contact-me .back-to-top button:hover .clone > :nth-child(2) {
    transition-delay: 0.2s;
}
  
#contact-me .back-to-top button:hover .clone > :nth-child(3) {
    transition-delay: 0.25s;
}
  
#contact-me .back-to-top button:hover .clone > :nth-child(4) {
    transition-delay: 0.3s;
}

/* icon style and hover */

#contact-me .back-to-top button svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
  }
  
#contact-me .back-to-top button:hover svg {
    transform: translateY(-50%) rotate(-90deg);
  }

/* Footer */

#footer{
    background-color: #222831;
}

#footer .container-fluid{
    padding:1% 15% 1% 15%;
    text-align: center;
}

#footer a{
    display: block;
    color: #393E46;
    text-decoration: none;
    font-size: 0.8rem;
    display: inline;
    margin: 10px;
}

#footer i{
    font-size: 0.8rem;
    color: #393E46;
}

#footer a:hover{
    color: #1b2027;
}


/*----------------------------- responsive screen adapt ----------------------------- */

/* smarthphone screen */
@media (max-width: 567px) {

    /* navbar */
    .logo{
        padding-left: 1%;
        padding-right: 1%;
    }

    .navbar-toggler{
        border: none;
    }

    button:focus:not(:focus-visible) {
        outline: none;
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }
    
    /* About me */

    #about-me .row .col-4 p{
        font-size: 1rem;
    }
    
    #about-me .row .col-6 .card-text{
        font-size: 1rem;
    }

    /* Instruction */

    #instruction img{
        width: 50%;
    }

    /* Skills */

    #skills .skill-line p{
        font-size: 1rem;
    }

    /* contact me section */

    #contact-me h1{
        font-size: 2.5rem;
    }

    #contact-me .contact-me-container{
        margin-bottom: 10%;
    }

    #contact-me .row p{
        font-size: 0.8rem;
    }

    /* Footer */

    #footer a{
        font-size: 0.6rem;
        margin: 5px;
    }
    
    #footer i{
        font-size: 0.6rem;
    }

    #footer .container-fluid{
        padding:3% 0 1% 0;
        text-align: center;
    }    
}

/* other screen (ipad and laptop) */

@media (max-width: 768px) {

    /* navbar */

    .navbar .container-fluid{
        margin-left: 24px;
    }

    #navbar-section .navbar a.nav-link{
        font-size: 0.8rem;
    }

    
    /* about me */

    #about-me img{
        width: 70%;
        position: static;
    } 

    #about-me .text-md-start{
        margin-bottom: 10%;
    }

    #about-me .text-container{
        padding: 0 7%;
    }

    #about-me .card-text p{
        font-size: 1rem;
    }
    #about-me .card-title h1{
        font-size: 2.5rem;
    }

    /* title */

    #title #name{
        font-size: 2.5rem;
    }
    
    #title #work{
        font-size: 1.4rem;
    }
}

    /* title */

@media (min-width: 768px) and (max-width: 1024px){

    #title #name{
        font-size: 2.3rem;
    }
    
    #title #work{
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1024px){

    #title #name{
        font-size: 2rem;
    }
    
    #title #work{
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) and (max-width: 1167px){

    #title #name{
        font-size: 2.2rem;
    }
    
    #title #work{
        font-size: 1.5rem;
    }
}

    /* about me */

@media (min-width: 1200px) {
    
    #about-me .chaos-img{
        z-index: 0;
    }
}

@media (min-width: 768px) {

    /* navbar */

    #navbar-section .navbar a.nav-link::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 5px; left: 0;
        transform: scaleX(0);
        background-color: #FFD369;background: rgb(254,209,105);
        background: linear-gradient(90deg, rgba(254,209,105,1) 24%, rgba(255,211,105,1) 27%, rgba(185,72,106,1) 93%);transform-origin: bottom left;
        transition: transform 0.3s ease-in-out;
    }
    
    #navbar-section .navbar a.nav-link:hover::before{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}